apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: sih-swaraj-user-be-secret
  namespace: default
spec:
  refreshInterval: 1m
  secretStoreRef:
    kind: ClusterSecretStore
    name: aws-secretsmanager
  target:
    name: sih-swaraj-user-be-secret
    creationPolicy: Owner
  dataFrom:
    - extract:
        key: sih-swaraj-user-be-prod